[appSettings]
agentid = ae214698-670a-4af4-9a69-65fa771a8908
token = 2j9LOOQNO5ITyvCMr45D13Q2AyzgrhiN1nnJJksmBnU
serverhostname = 
serveripaddress = 127.0.0.1
serverport = 443
agentport = 443
tunnelport = 
loglevel = debug
views = 
tags = 

[agentInfo]
name = vFense Agent
version = 0.8.0
description = vFense Agent
installdate = 

